*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    margin:0;
    background-color: rgb(29, 11, 75);
    color: #fff;
}

fieldset{
    border: none;
}

a{
    color: #fff;
    list-style: none;
    text-decoration:none;
    cursor: pointer;
}

/***********HEADER***********/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3em;
}

.header-logo{
    display: flex;
    flex-direction: column;
    padding:0;
}
.header-logo img{
    width: 8%;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

.nav{
    margin-left: 38em;
}
.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.nav ul a:hover{
    color:  rgb(106, 81, 164) ;
}

/***********MAIN***********/
.container{
    display: grid;
    grid-template-columns: 20% 80%;

}

/***********MAIN GAUCHE***********/
.categories{
    margin-left: 1.5em;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(106, 81, 164) black;
    height: 80vh;
}

.categories p{
    font-size: 1.3rem;
    margin-top: 2em;
    margin-left: 2em;
    text-wrap: nowrap;
}



.categoryAndBtn, .form-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.salons{
    margin-left: 1em;
    
}

.category{
    display: flex;
    flex-direction: column;
    
}

.name-salon{
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(106, 81, 164);
    color: #fff;
    font-family: "Source Code Pro", monospace;
}

.listCategory{
    display: flex;
    flex-direction: column;
}

.form-categories, .form-salon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-categories input ,.form-salon input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***********MAIN MESSAGE***********/

.form-message{
    background-color: rgb(29, 11, 75);
    position: absolute;
    bottom:3.5em;
    margin-right: 15em;
    border-radius: 2rem;
    width: 65%;
    left: 25em;
}

#messages{
    width: 90%;
}
.messages {
    margin-left: 3em;
    background-color: rgb(106, 81, 164);
    width: 90%;
    border-radius: 2rem;
    padding: 2em;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(106, 81, 164) black;
    height: 70vh;
}

.messages h2{
    position: sticky;
    top: 0;
    text-align: center;
}

.message{
    font-family: "Source Code Pro", monospace;
}

.form-message input{
   width: 800px;
}
/***********Bouton add*******/

#btn{
    border-radius: 50%;
    background-color: rgb(106, 81, 164);
    color: #fff;
    cursor: pointer;
}

#btn-form{
    border-radius: 1rem;
    background-color: rgb(106, 81, 164);
    color: #fff;
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
    padding: 0.5em;
}